<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveProduct()"
          [formGroup]="productFormGroup">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="productNameId">Product Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="productNameId"
                 type="text"
                 placeholder="Name (required)"
                 formControlName="productName"
                 [ngClass]="{'is-invalid': this.productFormGroup.get('productName').invalid }" />
          <span class="invalid-feedback">
                  <span *ngIf="this.productFormGroup.get('productName').errors?.required" >{{this.validationMessages.productName.required}}</span>
                  <span *ngIf="this.productFormGroup.get('productName').errors?.minlength" >{{this.validationMessages.productName.minlength}}</span>
                  <span *ngIf="this.productFormGroup.get('productName').errors?.maxlength" >{{this.validationMessages.productName.maxlength}}</span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="productCodeId">Product Code</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="productCodeId"
                 type="text"
                 placeholder="Code (required)"
                 formControlName="productCode"
                 [ngClass]="{'is-invalid': this.productFormGroup.get('productCode').invalid }" />

          <span class="invalid-feedback">
                <span *ngIf="this.productFormGroup.get('productCode').errors?.required" >{{this.validationMessages.productCode.required}}</span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="starRatingId">Star Rating (1-5)</label>

        <div class="col-md-8">
          <input class="form-control"
                 id="starRatingId"
                 type="text"
                 placeholder="Rating (1-5)"
                 formControlName="starRating"
                 [ngClass]="{'is-invalid': this.productFormGroup.get('starRating').invalid }" />
          <span class="invalid-feedback">
                <span *ngIf="this.productFormGroup.get('starRating').errors?.customizedOutOFRange" >{{this.validationMessages.starRating.range}}</span>
          </span>
        </div>
      </div>

      <div formArrayName="tagsxx">
        <div class="form-group row mb-2"
             *ngFor="let tag of tags.controls; let i=index">
          <label class="col-md-2 col-form-label"
                 [attr.for]="i">Tag</label>

          <div class="col-md-8">
            <input class="form-control"
                   [id]="i"
                   type="text"
                   placeholder="Tag"
                   [formControlName]="i" />
          </div>
          <button class="col-md-1 btn btn-outline-warning btn-sm"
                  type="button"
                  title="Delete this search tag"
                  (click)="deleteTag(i)">Delete Tag
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 mb-2">
          <button class="btn btn-outline-secondary btn-sm"
                  type="button"
                  title="Add a search tag"
                  (click)="addTag()">Add Tag
          </button>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Description</label>

        <div class="col-md-8">
          <textarea class="form-control"
                    id="descriptionId"
                    placeholder="Description"
                    rows=3
                    formControlName="description"
                    ></textarea>
          <span class="invalid-feedback">

          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="productFormGroup.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!productFormGroup.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/products']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this product"
                  (click)="deleteProduct()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger">
  </div>
</div>
